:root {
    color-scheme: light dark;

    --berkeley-blue: hsla(212, 90%, 20%, 1);
    --indigo-dye: hsla(198, 100%, 23%, 1);
    --jungle-green: hsla(164, 93%, 34%, 1);
    --citron: hsla(50, 52%, 66%, 1);
    --gamboge: hsla(40, 94%, 49%, 1);
}

@view-transition {
    navigation: auto;
}

html {
    scrollbar-gutter: stable;
}

body {
    max-width: min(80svw, 800px);
    margin: 0 auto;
    line-height: 1.5;
}

.draft {
    background-image: url("/draft.svg");
    background-attachment: fixed;
    background-repeat: no-repeat space;
}

.debug {
    background-color: red;

    pre {
        overflow: scroll;
    }
}

header,
main,
footer {
    margin: 1em 0;
}


nav.horizontal-nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 0.75em;
    }

    a {
        vertical-align: middle;
    }

    img#nav-logo {
        height: 2em;
    }
}


footer div.footer-bar {
    display: flex;
    justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
    main {
        h1 {
            color: var(--gamboge)
        }
    }

    footer hr {
        color: var(--jungle-green)
    }
}

@media (prefers-color-scheme: light) {
    main {
        h1 {
            color: var(--jungle-green)
        }
    }

    footer hr {
        color: var(--berkeley-blue)
    }
}

:where(h1) {
    margin-block: 0.67em;
    font-size: 2em;
}