<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/style.css" />
    <meta
        name="theme-color"
        content="--berkeley-blue"
        media="(prefers-color-scheme: light)" />
    <meta
        name="theme-color"
        content="--gamboge"
        media="(prefers-color-scheme: dark)" />

    <!-- START favicon stuff -->
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="DK Weblog" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <!-- END favicon stuff -->

    <title>{% if title %}{{title}} | {% endif %}Declan Kelly</title>
    {% endblock head %}
</head>

<body>
    <header>
        <nav>
            
        </nav>
        {% block header %}{% endblock header %}
    </header>
    <main {% if metadata.draft %} class="draft" {% endif %}>
        {% block main %}{% endblock main %}
    </main>
    <footer>
        {% block footer %}
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-sa/4.0/88x31.png">
        </a>
        {% endblock footer %}
        {% if debug %}
        <section class="debug">
            <pre>{{ __tera_context | escape }}</pre>
        </section>
        {% endif %}
    </footer>
</body>

</html>